# Node.js Tools
node_modules/

# Environment variables / Configs
.env
terraform/bctk_ssl.conf

# Logs
logs/
*.log

# Data directories
data/processed/
data/failed/

# Temporary files
*.tmp
tmp/
.DS_Store

# IDE files
.vscode/
.idea/
*.swp
*.swo

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio
.history/
.localhistory/
.vshistory/

# Dev
dev/